[package]
name = "ros-z"
version = "0.1.0"
edition = "2024"

[dependencies]
cdr = { workspace = true }
clap = { workspace = true, features = ["derive"] }
flume = { workspace = true }
serde = { workspace = true, features = ["serde_derive"] }
tracing = { workspace = true }
zenoh = { workspace = true, default-features = false, features = [
    "transport_tcp",
    "unstable",
] }
zenoh-ext = { workspace = true }
strum = { workspace = true, features = ["derive"] }
sha2 = { workspace = true }
parking_lot = { workspace = true }
csv = { workspace = true }
tokio = { workspace = true, features = ["rt-multi-thread"] }
slab = { workspace = true }
serde_json = { workspace = true }
prost = { workspace = true, optional = true }
cdr-encoding = { workspace = true }
byteorder = { workspace = true }
json5 = { workspace = true }

[dev-dependencies]
ros-z-msgs = { path = "../ros-z-msgs" }

[build-dependencies]
prost-build = { workspace = true, optional = true }

[features]
default = []
protobuf = ["prost"]
rcl-z = []
