[package]
name = "ros-z"
version = "0.1.0"
edition = "2024"

[dependencies]
cdr = { workspace = true }
clap = { workspace = true, features = ["derive"] }
flume = { workspace = true }
serde = { workspace = true, features = ["serde_derive"] }
tracing = { workspace = true }
zenoh = { workspace = true, default-features = false, features = [
    "transport_tcp",
    "unstable",
] }
zenoh-ext = { workspace = true }
strum = { workspace = true, features = ["derive"] }
sha2 = { workspace = true }
parking_lot = { workspace = true }

csv = "1.3.1"
tokio = { version = "1.47.1", features = ["rt-multi-thread"] }
slab = { workspace = true }
serde_json = "1.0"


prost = { version = "0.13", optional = true }
cdr-encoding = { workspace = true }
byteorder = "1.3"
json5 = "0.4.1"

[dev-dependencies]
ros-z-msgs = { path = "../ros-z-msgs" }

[build-dependencies]
prost-build = { version = "0.13", optional = true }

[features]
default = []
protobuf = ["prost"]
rcl-z = []
