[package]
name = "ros-z-msgs"
version.workspace = true
edition.workspace = true

[dependencies]
ros-z = { path = "../ros-z", default-features = false }
serde = { workspace = true }
serde_bytes = "0.11"
# Required by roslibrust-generated code
roslibrust = { path = "../../roslibrust/roslibrust" }
roslibrust_codegen = { path = "../../roslibrust/roslibrust_codegen" }
smart-default = "0.7"
serde-big-array = "0.5"

[build-dependencies]
ros-z-codegen = { path = "../ros-z-codegen" }
anyhow = "1.0"
glob = "0.3"

[features]
default = ["common_interfaces"]
# Common ROS 2 interface packages
common_interfaces = ["std_msgs", "geometry_msgs"]
std_msgs = []
geometry_msgs = ["std_msgs"]
sensor_msgs = ["std_msgs"]
