name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    name: Check, Build, and Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
            accept-flake-config = true
            extra-substituters = https://ros.cachix.org
            extra-trusted-public-keys = ros.cachix.org-1:dSyZxI8geDCJrwgvCOHDoAfOm5sV1wCPjBkKL+38Rvo=

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: ros
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          skipPush: true

      - name: Setup sccache
        if: env.ACT != 'true'
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Check Rust formatting
        run: |
          nix develop .#ci -c cargo fmt --all -- --check

      - name: Clippy
        run: |
          nix develop .#ci -c cargo clippy --all-targets --all-features -- -D warnings

      - name: Check all features
        run: |
          nix develop .#ci -c cargo check --all-targets --all-features

      # FIXME: This requries the installation of rmw_zenoh_cpp triggering a build from source...
      # - name: Run unit tests
      #   run: |
      #     nix develop .#ci -c cargo test --all-features
