name: CI

on:
  push:
    branches: [ main, dev/** ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    name: Check, Build, and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
            accept-flake-config = true

      - name: Setup Cachix
        uses: cachix/cachix-action@v15
        with:
          name: ros
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          skipPush: true

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Check Rust formatting
        run: |
          nix develop .#ci -c cargo fmt --all -- --check

      - name: Clippy
        run: |
          nix develop .#ci -c cargo clippy --all-targets --all-features -- -D warnings

      - name: Check all features
        run: |
          nix develop .#ci -c cargo check --all-targets --all-features

      - name: Run unit tests
        run: |
          nix develop .#ci -c cargo test --all-features
